#features{
    height: auto;
    display: flex;
    flex-direction: column;
    margin : 0 50px;
    justify-content: space-around;
}
.features-text{
    width: 500px;
    margin: 20px 10px;
}

#features-1, #features-2, #features-3, #features-4, #features-5, #features-6{
    display: flex;
    margin: 100px 0;
    align-items: center;
}


#features-2, #features-4, #features-6{
    justify-content: end;
}
#features-1-img{
    width:400px;
    margin: 0 50px;
}

#features-2-img, #features-3-img, #features-4-img, #features-5-img, #features-6-img{
    width: 500px;
    border: #03045e solid 5px;
    border-radius: 30px;
    margin: 0 50px;
}

#footer{
    border-top: #03045e solid 3px;
    background: #0077b6;
    padding: 10px 50px;
    color: white;
}

#footer-contact{
    font-size: 50px;
    margin: 20px 0;
}
#footer-contact-subtext{
    margin: 0;
    font-size: 30px;
}


#footer-contact-presentation{
    font-size: 20px;
    margin: 20px 0;
}

body {
    font-size: 20px;
}