.game-container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.game-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.language-select {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintains aspect ratio */
    background-color: #4a4a4a;
    border-radius: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    font-size: 40px;
}

.card.flip {
    transform: rotateY(180deg);
}

.card .front, .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card .front {
    background-color: #d9912b;
    color: #fff;
    transform: rotateY(0deg);
}

.card .back {
    background-color: #ffffff;
    color: #333;
    transform: rotateY(180deg);
    border: 2px solid #ddd;
}

.message {
    font-size: 70px;
    color: seagreen;
}

.styled-select {
    width: 150px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3csvg xmlns%3d%27http://www.w3.org/2000/svg%27 viewBox%3d%270 0 4 5%27%3e%3cpath fill%3d%27%23000%27 d%3d%27M2 0L0 2h4zM2 5L0 3h4z%27/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
    cursor: pointer;
}

.styled-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.styled-select:hover {
    border-color: #007bff;
}

.language-selectors {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}